nav.navbar.navbar-light.bg-light.navbar-expand-lg
  .container
    a.navbar-brand(href="/") Brand
    .navbar-collapse.collapse
      .navbar-nav
        .nav-item
          a.nav-link(href="/") Home
        .nav-item
          a.nav-link(href="/products.html") Products
        .nav-item
          a.nav-link(href="/contact.html") Contact
        .nav-item
          a.nav-link(href="/about.html") About