doctype html
html(lang="en")
  head
    block head
    include ../includes/styles
  body
    include ../includes/nav
    .container
      block content
      include ../includes/footer
      include ../includes/scripts
